@model IEnumerable<MISTDO.Web.Models.Notification>
@{
    ViewData["Title"] = "Notifications";
     Layout = "_LayoutTraineeDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderTrainee");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Your Notifications </h4>

            </div>
            <div class="row">
                <div class="col-md-12"> 
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.NotificationMessage)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.NotificationDateTime)
                                            </th>


                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NotificationMessage)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NotificationDateTime)
                                                </td>


                                                <td>

                                                    <a asp-action="NotificationDetails" asp-route-id="@item.NotificationId">Details</a> 

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
    <script src="~/dist/assets/js/vendor.js"></script>

    <script src="~/dist/assets/js/app.min.js"></script>

    <!-- page plugins js -->
    <script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

    <!-- page js -->
    <script src="~/dist/assets/js/table/data-table.js"></script>
</div>




