@model IEnumerable<MISTDO.Web.Models.Training>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutTraineeDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Registered Trainings (Up coming Training)</h4>
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TrainingName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ModuleId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PaymentRefId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TraineeId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CertificateId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CertGenDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DateCreated)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TrainingStartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TrainingEndDate)
                                            </th>
                                            <th>Other Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.TrainingStartDate >= DateTime.Today)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ModuleId)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PaymentRefId)
                                                    </td>
                                                    <th>
                                                        @Html.DisplayFor(model => item.TraineeId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => item.CertificateId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => item.CertGenDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => item.DateCreated)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingStartDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingEndDate)
                                                    </td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="page-title">
                <h4>Past Trainings</h4>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TrainingName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ModuleId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PaymentRefId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TraineeId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CertificateId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CertGenDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DateCreated)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TrainingStartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TrainingEndDate)
                                            </th>
                                            <th>Other Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.TrainingEndDate < DateTime.Today)
                                            {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrainingName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModuleId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentRefId)
                                            </td>
                                            <th>
                                                @Html.DisplayFor(model => item.TraineeId)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(model => item.CertificateId)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(model => item.CertGenDate)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(model => item.DateCreated)
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrainingStartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrainingEndDate)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <b class="text-dark">SHE Division, The Department of Petroleum Resources</b>. All rights reserved.</span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>




