@model MISTDO.Web.Models.Training

@{
    ViewData["Title"] = "Attach Trainingto Trainee";
    Layout = "_LayoutDashboard";
}
@inject UserManager<ApplicationUser> userManager;
@inject UserManager<TraineeApplicationUser> usermanager;

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Attach New Training to  Trainee </h4>
                @*<p>
                        <a asp-action="Create">Create New</a>
                    </p>*@
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            @{
                                var user = await userManager.GetUserAsync(User);
                                var modules = ViewBag.modules as List<SelectListItem>;
                                var module = ViewBag.modulecosts as List<SelectListItem>;
                                var moduless = ViewBag.modules as List<SelectListItem>;

                                var Tcenter = ViewBag.center as List<SelectListItem>;

                                var trainee = await usermanager.GetUserAsync(User);
                               


                            }



                            <form>
                                @*<p>
                                        <input type="hidden" value="@Model.ModuleId" id="ModuleId" />
                                        <input type="hidden" value="@module.Cost" id="ModuleCost" />
                                        <input type="hidden" value="@user.Id" id="TrainingCenterId" />
                                        <input type="hidden" value="@Model.TraineeId" id="TraineeId" />
                                        <input type="hidden" value="@Model.TrainingStartDate" id="TrainingStartDate" />
                                        <input type="hidden" value="@Model.TrainingEndDate" id="TrainingEndDate" />

                                    </p>*@


                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="TraineeId" class="control-label"> Trainee Id</label>
                                    <input asp-for="TraineeId" class="form-control" id="TraineeId" />
                                    <span asp-validation-for="TraineeId" class="text-danger"></span>
                                </div>
                               
                                    
                                        <div class="form-group">

                                            <label class="control-label"> First Name</label>
                                            <input  class="form-control" id="firstname" onkeyup="showInput();" />
                                        </div>
                                        <div class="form-group">

                                            <label class="control-label"> Last Name</label>
                                            <input  class="form-control" id="lastname" />
                                        </div>
                                     
                             


                                <div class="form-group">
                                    <label class="control-label"> Module Details</label>
                                    <select class="form-control" asp-for="ModuleId" asp-items="modules" id="ModuleId" onchange="myFunction()"></select>

                                </div>


                                <div class="form-group">

                                    <label class="control-label"> Module Cost  (Choose equivalent Module Cost)</label>
                                    <select class="form-control" asp-items="module" id="ModuleCost" disabled></select>
                                    <p><span id='ModuleCost'></span></p>
                                </div>

                                <script>
                                    function myFunction() {
                                        var x = document.getElementById("ModuleId").value;
                                        document.getElementById("ModuleCost").selectedIndex = x - 1;
                                    }
                                </script>


                                <div class="form-group">
                                    <label class="control-label" hidden> Training Center Id</label>
                                    <input asp-for="@user.Id" class="form-control" id="TrainingCenterId" type="hidden" />
                                    <span asp-validation-for="TrainingCentreId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Training Center Name</label>
                                    <input asp-for="@user.CompanyName" class="form-control" disabled id="TrainingCenterName" />
                                    <span asp-validation-for="TrainingCentreId" class="text-danger"></span>
                                </div>





                                <div class="form-group">
                                    <label class="control-label">Training Start When?</label>
                                    <input asp-for="TrainingStartDate" class="form-control" id="TrainingStartDate" />
                                    <span asp-validation-for="TrainingStartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Training Ends When?</label>
                                    <input asp-for="TrainingEndDate" class="form-control" id="TrainingEndDate" />
                                    <span asp-validation-for="TrainingEndDate" class="text-danger"></span>
                                </div>





                                <div class="form-group">
                                    <script src="https://remitademo.net/payment/v1/remita-pay-inline.bundle.js"></script>
                                    <button class="btn btn-primary" type="button" onclick="makePayment()"> Pay and Attach </button>
                                </div>
                            </form>

                        </div>



                    </div>
                    @*<div>
                            <a asp-action="Index">Back to List</a>
                        </div>*@
                </div>
                @*<div class="col-md-6">
                        <div class="card">
                            <div class="card-block">
                                <form asp-action="TrainingUpload" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <p>       @Html.ActionLink("Click here to download Template for Bulk Upload", "DownloadFile", new { })</p>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <p><b>Upload Bulk Training Excel File</b></p>
                                            <input type="file" name="file" multiple />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="submit" value="Upload" />
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <b class="text-dark">SHE Division, The Department of Petroleum Resources</b>. All rights reserved.</span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
</div>

<script>

    function makePayment() {
        var TraineeId = $('#TraineeId').val();
        var ModuleId = $('#ModuleId ').val();



        var ModuleCost = $('#ModuleCost option:selected').text();
        var TrainingCenterId = $('#TrainingCenterId').val();
        var firstname = $('#firstname').val();
        var lastname = $('#lastname').val();
        var TrainingStartDate = $('#TrainingStartDate').val();
        var TrainingEndDate = $('#TrainingEndDate').val();

        console.log(TraineeId);
        console.log(ModuleId);
        console.log(ModuleCost);
        console.log(TrainingCenterId);
        console.log(firstname);
        console.log(lastname);
        console.log(TrainingStartDate);
        console.log(TrainingEndDate);

        var paymentEngine = RmPaymentEngine.init({
            key: 'dGFnYWJpZWxlc2luQHdyYWdieXNvbHV0aW9ucy5jb218NDEwNDkxNzR8ZTZhMzJhYmZjMjFjYmZkYWM0ZTI3ZTkzNTU5MzUxMWM5NDlhMDM1ZGU3MjQzNzk2ODViYjdlN2E1OTc0OGZhZDJjOTEyYjk1ZWZkYTAyYWM1NTU3MmZlZDZkMmQzMTM2Njc5YWIyZmFiYTNmOGZhMjIxNmJmYjM0ZjNhODMwMGU=',
            customerId: TraineeId,
            firstName: firstname,
            lastName: lastname,
            email: ModuleId,
            amount: ModuleCost,


            onSuccess: function (response) {

                console.log('callback Successful Response', response);
                $.post('@Url.Action("TraineeAttach", "TrainerDashboard")', {

                    data: response, TraineeId: TraineeId , ModuleId: ModuleId, ModuleCost: ModuleCost,  TrainingStartDate:TrainingStartDate, TrainingEndDate:TrainingEndDate
                }, function () {
                    //
                }).done(function (returndata) {
                    if (returndata.isSuccess) {
                        window.location = returndata.redirectUrl;
                    };
                });
            },
            onError: function (response) {
                console.log('callback Error Response', response);
            },
            onClose: function () {
                console.log("closed");
            }
        });

        paymentEngine.showPaymentWidget();

    }

</script>


