@model TraineeViewModel
@{
    ViewData["Title"] = "Generate Certificate";
    Layout = "_LayoutDashboard";
}
@inject UserManager<ApplicationUser> userManager;

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Generate Certificate</h4>
                @{
                    var module = ViewBag.Module as Modules;
                    var user = await userManager.GetUserAsync(User);
                }
                <p>
                    <a>Trainee Details</a>
                    <input type="hidden" value="@Model.FirstName" id="FirstName" />
                    <input type="hidden" value="@Model.LastName" id="LastName" />
                    <input type="hidden" value="@Model.Email" id="Email" />
                    <input type="hidden" value="@module.Cost" id="Amount" />
                    <input type="hidden" value="@Model.TraineeId" id="CustomerId" />
                    <input type="hidden" value="@module.Id" id="ModuleId" />

                </p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">

                           
                            <form asp-action="EditTraining" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label"> First Name</label>
                                            <input asp-for="FirstName" class="form-control" disabled />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>


                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">


                                        <div class="form-group">
                                            <label class="control-label"> Last Name</label>
                                            <input asp-for="LastName" class="form-control" disabled />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">


                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input asp-for="Email" class="form-control" disabled />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label"> Training Venue </label>
                                            <input asp-for="PhoneNumber" class="form-control" disabled />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label class="control-label"> Company Name</label>
                                            <input asp-for="CompanyName" class="form-control" disabled />
                                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label"> Company Address</label>
                                            <input asp-for="CompanyAddress" class="form-control" disabled />
                                            <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                                        </div>

                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">User Address</label>
                                            <input asp-for="UserAddress" class="form-control" disabled />
                                            <span asp-validation-for="UserAddress" class="text-danger"></span>
                                        </div>

                                    </div>

                                    
                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Module Name</label>
                                            <input asp-for="@module.Name" class="form-control" disabled />
                                            <span asp-validation-for="@module.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Module Short Code</label>
                                            <input asp-for="@module.ShortCode" class="form-control" disabled/>
                                            <span asp-validation-for="@module.ShortCode" class="text-danger"></span>
                                        </div>
                                     </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Module Cost</label>
                                                <input asp-for="@module.Cost" class="form-control" disabled />
                                                <span asp-validation-for="@module.Cost" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text-right mrg-top-5">
                                                <div class="form-group">
                                                    <a class="btn btn-primary" asp-route-ModuleId="@module.Id" asp-route-TraineeId="@Model.TraineeId" asp-action="ViewCertificate">Generate Certificate</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
</form>


                            <div align="center">
                                
                                @*<form>
                <script src="https://remitademo.net/payment/v1/remita-pay-inline.bundle.js"></script>
                <button class="btn btn-primary" type="button" onclick="makePayment()"> Pay </button>
            </form>*@
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Content Wrapper END -->
        <!-- Footer START -->
        <footer class="content-footer">
            <div class="footer">
                <div class="copyright">
                    <span>Copyright © 2018 <b class="text-dark"> Department of Petroleum Resources</b>. All rights reserved.</span>
                    <span class="go-right">
                        <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                        <a href="#" class="text-gray">Privacy &amp; Policy</a>
                    </span>
                </div>
            </div>
        </footer>
        <!-- Footer END -->
        <!-- Page Container END -->
    </div>
</div>

<script>

    function makePayment() {
        var customerid = $('#CustomerId').val();
        var firstname = $('#FirstName').val();
        var lastname = $('#LastName').val();

        var email = $('#Email').val();
        var cost = $('#Amount').val();
        var moduleid = $('#ModuleId').val();

        console.log(customerid);
        console.log(firstname);
        console.log(lastname);
        console.log(email);
        console.log(cost);

        var paymentEngine = RmPaymentEngine.init({
            key: 'dGFnYWJpZWxlc2luQHdyYWdieXNvbHV0aW9ucy5jb218NDEwNDkxNzR8ZTZhMzJhYmZjMjFjYmZkYWM0ZTI3ZTkzNTU5MzUxMWM5NDlhMDM1ZGU3MjQzNzk2ODViYjdlN2E1OTc0OGZhZDJjOTEyYjk1ZWZkYTAyYWM1NTU3MmZlZDZkMmQzMTM2Njc5YWIyZmFiYTNmOGZhMjIxNmJmYjM0ZjNhODMwMGU=',
            customerId: customerid,
            firstName: firstname,
            lastName: lastname,
            email: email,
            amount: cost,
            onSuccess: function (response) {

                console.log('callback Successful Response', response);
                $.post('@Url.Action("PaymentCompleted", "TrainerDashboard")', {
                    data: response, traineeid: customerid, moduleid: moduleid
                }, function () {
                    //
                }).done(function (returndata) {
                    if (returndata.isSuccess) {
                        window.location = returndata.redirectUrl;
                    };
                });
            },
            onError: function (response) {
                console.log('callback Error Response', response);
            },
            onClose: function (response) {
                console.log("closed");
                 $.post('@Url.Action("PaymentCompleted", "TrainerDashboard")', {
                    data: response, traineeid: customerid, moduleid: moduleid
                }, function () {
                    //
                }).done(function (returndata) {
                    if (returndata.isSuccess) {
                        window.location = returndata.redirectUrl;
                    };
                });
            }
        });

        paymentEngine.showPaymentWidget();

    }

</script>

