@model IEnumerable<MISTDO.Web.Models.Calender>

@{
    ViewData["Title"] = "Training";
    Layout = "_LayoutDashboard";
}

@inject UserManager<ApplicationUser> userManager;
<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->
<script>
    function input1f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input1");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input2f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input2");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input3f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input4f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input4");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input5f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input5");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input6f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input6");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input7f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input7");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<style>
    * {
        box-sizing: border-box;
    }

    #input1 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input2 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input3 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input4 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input5 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input6 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input7 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #dt-opt {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #dt-opt th, #dt-opt td {
            text-align: left;
            padding: 12px;
        }

        #dt-opt tr {
            border-bottom: 1px solid #ddd;
        }

            #dt-opt tr.header, #dt-opt tr:hover {
                background-color: #f1f1f1;
            }
</style>

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        @{
            var user = await userManager.GetUserAsync(User);


        }
        <div class="container-fluid">
            <div class="page-title">
                <h4>Trainings Calender</h4>
                <p>
                    <span style="float:left;"> <a class="btn btn-success" asp-action="CreateTraining">Create New</a></span>
                    <span style="float:right;"><a asp-controller="TrainerDashboard" class="btn btn-success" asp-action="ExportCalender" align="right" title="Export Calendar to Microsoft Excel file"><i> Export  All Calendar via Excel</i></a></span>

                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="display">
                               
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="text" id="input1" onkeyup="input1f()" placeholder="Module Name ">
                                            </th>
                                            <th>
                                                <input type="text" id="input2" onkeyup="input2f()" placeholder="Centre Name">

                                            </th>
                                            <th>
                                                <input type="text" id="input3" onkeyup="input3f()" placeholder="Cost">

                                            </th>
                                            <th>
                                                <input type="text" id="input4" onkeyup="input4f()" placeholder="Venue">

                                            </th>
                                            <th>
                                                <input type="text" id="input5" onkeyup="input5f()" placeholder="Start Date">

                                            </th>
                                            <th>
                                                <input type="text" id="input6" onkeyup="input6f()" placeholder="End Date">

                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:small">
                                        @foreach (var item in Model)
                                        {
                                            if (item.TrainingStartDate >= DateTime.Today && item.TrainingCentreId == user.Id)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => user.CompanyName)
                                                    </td>


                                                    <td>
                                                        @Html.DisplayFor(model => item.Cost)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.Venue)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingStartDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingEndDate)
                                                    </td>
                                                    <td>
                                                        <a asp-action="EditTraining"  asp-route-id="@item.Id">Edit</a> |
                                                        <a asp-action="DetailsTraining" asp-route-id="@item.Id">Details</a> |
                                                        <a asp-action="DeleteTraining" asp-route-id="@item.Id">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>




