@model IEnumerable<MISTDO.Web.Models.TraineeApplicationUser>
@{
    ViewData["Title"] = "Trainee";
    Layout = "_LayoutDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />
<script>
    function input1f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input1");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input2f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input2");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input3f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input4f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input4");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input5f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input6f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input7f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<style>
    * {
        box-sizing: border-box;
    }

    #input1 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input2 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input3 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input4 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input5 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input6 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input7 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #dt-opt {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #dt-opt th, #dt-opt td {
            text-align: left;
            padding: 12px;
        }

        #dt-opt tr {
            border-bottom: 1px solid #ddd;
        }

            #dt-opt tr.header, #dt-opt tr:hover {
                background-color: #f1f1f1;
            }
</style>

<!-- Page Container START -->
@inject UserManager<ApplicationUser> userManager;
<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Registered Trainees</h4>
                <p>
                    <h4>
                        <span style="float:left;"> <a asp-action="CreateTrainees" class="btn btn-success">Create New&nbsp;<i class="ti-user">+</i> &nbsp;</a></span> | <span> <a class="btn btn-success" asp-action="CompleteTraineeRegistration">Complete Existing Trainee Registration <i class="ti-user"><i class="ti-settings"></i></i> </a></span>

                        <span style="float:right;"><a asp-action="AttachTraineeTraining" align="right" class="btn btn-success">Assign Course Module to Trainee </a></span>
                    </h4>
                </p>
                <p>
                    <span style="float:right;"><a asp-controller="TrainerDashboard" class="btn btn-success" asp-action="ExportCertificates" align="right" title="Export Certificates to Microsoft Excel file"><i> Export  All Certificates via Excel</i></a></span>


                </p>


            </div>
          

            <div class="row">

                @{
                    var user = await userManager.GetUserAsync(User);



                }
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="display">
                                    <thead>
                                        <tr>
                                            <th>
                                                First Name
                                            </th>
                                            <th>
                                                Last Name
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Email)
                                            </th>
                                            <th>
                                                Phone Number
                                            </th>
                                            <th>
                                                Company Name
                                            </th>
                                            <th>
                                                Company Address
                                            </th>
                                            <th>
                                                User Address
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LastName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyAddress)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserAddress)
                                                </td>

                                                <td>
                                                    @*<a asp-action="EditTrainees" asp-route-id="@item.Id">Edit</a>*@ 
                                                    <a asp-action="DetailsTrainees" asp-route-id="@item.Id">Details</a> 
                                                    @*<a asp-action="DeleteTrainees" asp-route-id="@item.Id">Delete</a>*@
                                                </td>
                                            </tr>

                                        }
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th>
                                                <input type="text" id="input1" onkeyup="input1f()" placeholder="Search for names.." title="Type in a name">
                                            </th>
                                            <th>
                                                <input type="text" id="input2" onkeyup="input2f()" placeholder="Search for names.." title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input3" onkeyup="input3f()" placeholder="Search for names.." title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input4" onkeyup="input4f()" placeholder="Search for names.." title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input5" onkeyup="input5f()" placeholder="Search for names.." title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input6" onkeyup="input6f()" placeholder="Search for names.." title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input7" onkeyup="input7f()" placeholder="Search for names.." title="Type in a name">

                                            </th>

                                            <th>

                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>



