@model IEnumerable<MISTDO.Web.Models.Calender>
@{
    ViewData["Title"] = "Training Calendar | MISTDO Portal";
    Layout = "_Layout1";
}






<!-- page plugins css -->
@*<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />*@
@*<script>
        function input1f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input1");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function input2f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input2");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function input3f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input3");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function input4f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input4");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function input5f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input5");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function input6f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input6");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function input7f() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input7");
            filter = input.value.toUpperCase();
            table = document.getElementById("dt-opt");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[6];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>*@

@*<div class="page-container">*@
<!-- Header START -->

@inject UserManager<TraineeApplicationUser> userManager;
@inject UserManager<ApplicationUser> usermanager;
<section class="genericSection">
    <div class="container">
        <h3>CALENDAR</h3>
        <div class="divider"></div>

        <table class="myProperties table-responsive">
            <tr class="myPropertiesHeader">

                <td class="myPropertyAddress">Module Name</td>
                <td class="myPropertyAddress">Centre Name</td>
                <td class="myPropertyType">Cost</td>
                <td class="myPropertyStatus">State</td>
                <td class="myPropertyDate">Start Date</td>
                <td class="myPropertyDate">End Date</td>
                <td class="myPropertyActions">Actions</td>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    var centername = await usermanager.FindByIdAsync(item.TrainingCentreId);

                    if (item.TrainingEndDate >= DateTime.Today)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrainingName)
                            </td>
                            <td>
                                @if (centername == null)
                                {
                                    string jas = "jadel company";
                                    @jas
                                }
                                else
                                {

                                    @centername.CompanyName
                                }
                            </td>
                            <td>

                                ₦  @Html.Raw(@String.Format("{0:n0}", item.Cost))


                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Venue)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.TrainingStartDate) :  @Html.DisplayFor(modelItem => item.TrainingStartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrainingEndDate) : @Html.DisplayFor(modelItem => item.TrainingStartTime)
                            </td>
                            <td>

                                <a asp-action="DetailsCalender" class="btn btn-success" asp-route-id="@item.Id">Details</a>

                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>

        <ul class="pageList">
            <li><a href="#">&lt;</a></li>
            <li><a href="#" class="current">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&gt;</a></li>
        </ul>
    </div><!-- end container -->
</section>

<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />


@*</div>*@



@*<script>
        $('table.dataTable tfoot').each(function () {
            $(this).insertAfter($(this).siblings('tbody'));
        });
    </script>*@