@model RegisterViewModel
@{
    ViewData["Title"] = "Trainer Registration | MISTDO Portal";
    Layout = "_RegisterPartial";
}




<!-- Bootstrap Core CSS -->
<!-- Preloader -->
<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutRegisterHeader")

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Training Provider's Registration </h4>
                @{
                    string Permitnumber = ViewBag.permit;
                    string email = ViewBag.email;
                    string Companyname = ViewBag.companyname;
                    string Companyaddress = ViewBag.companyaddress;
                    string otp = ViewBag.otp;
                    string Licenseexpdate = ViewBag.expdate;
                }

            </div>
            <form>
                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-block">


                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="CompanyName" class="control-label"></label>
                                    <input asp-for="@Companyname" name="Companyname" id="Companyname" class="form-control" disabled />
                                    <input hidden name="Companyname" id="Companyname" value="@Companyname" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyAddress" class="control-label"></label>
                                    <input asp-for="@Companyaddress" name="Companyaddress" id="Companyaddress" class="form-control" disabled />
                                    <input hidden name="Companyaddress" id="Companyaddress" value="@Companyaddress" />
                                    <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CentreName" class="control-label"></label>
                                    <input asp-for="CentreName" class="form-control" id="CentreName" />
                                    <span asp-validation-for="CentreName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CenterAddress" class="control-label"></label>
                                    <input asp-for="CenterAddress" class="form-control" id="CenterAddress" />
                                    <span asp-validation-for="CenterAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PermitNumber" class="control-label"></label>
                                    <input asp-for="@Permitnumber" name="Permitnumber" id="Permitnumber" class="form-control" disabled />
                                    <input hidden name="Permitnumber" id="Permitnumber" value="@Permitnumber" />
                                    <span asp-validation-for="PermitNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> License Expiry Date</label>
                                    <input asp-for="@Licenseexpdate" class="form-control" name="Licenseexpdate" id="Licenseexpdate"  disabled/>
                                    <input hidden name="Licenseexpdate" id="Licenseexpdate" value="@Licenseexpdate" />
                                    <span asp-validation-for="LicenseExpDate" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="State"></label>
                                    <input asp-for="State" class="form-control" id="State" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control" id="City" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-block">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">

                                    <label asp-for="Email"></label>
                                    <input asp-for="@email" name="email" id="email" class="form-control" disabled />
                                    <input hidden name="email" id="email" value="@email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control" id="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Onboarding Fee</label>
                                        <input id="fee" name="fee" value="50000" class="form-control" disabled />
                                    </div>






                                </div>

                                <input hidden  id="firstname" value="@Companyname"  />

                                <input hidden id="lastname" value="@Companyaddress"  />
                                <input hidden name="otp" id="otp" value="@otp" />
                                <div class="form-group">
                                    <script src="https://remitademo.net/payment/v1/remita-pay-inline.bundle.js"></script>
                                    <button class="btn btn-success" type="button" onclick="makePayment()"> Register </button>
                                    
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>



    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->

</div>
</div>


<script>

    function makePayment() {
        var Companyname = $('#Companyname').val();
        var Companyaddress = $('#Companyaddress ').val();
        var CentreName = $('#CentreName').val();
        var CenterAddress = $('#CenterAddress').val();
        var Permitnumber = $('#Permitnumber').val();
        var Licenseexpdate = $('#Licenseexpdate').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var State = $('#State').val();
        var City = $('#City').val();
        var email = $('#email').val();
        var Password = $('#Password').val();
        var ConfirmPassword = $('#ConfirmPassword').val();
        var fee = $('#fee').val();
        var otp = $('#otp').val();

        var firstname = $('#firstname').val();
        var lastname = $('#lastname').val();

        console.log(Companyname);
        console.log(Companyaddress);
        console.log(CentreName +'a');
        console.log(CenterAddress);
        console.log(Permitnumber);
        console.log(Licenseexpdate);
        console.log(PhoneNumber);
        console.log(State);
        console.log(City);
        console.log(email);
        console.log(Password);
        console.log(ConfirmPassword);
        console.log(fee);
        console.log(otp);

        console.log(firstname);
        console.log(lastname);

        var paymentEngine = RmPaymentEngine.init({
            key: 'dGFnYWJpZWxlc2luQHdyYWdieXNvbHV0aW9ucy5jb218NDEwNDkxNzR8ZTZhMzJhYmZjMjFjYmZkYWM0ZTI3ZTkzNTU5MzUxMWM5NDlhMDM1ZGU3MjQzNzk2ODViYjdlN2E1OTc0OGZhZDJjOTEyYjk1ZWZkYTAyYWM1NTU3MmZlZDZkMmQzMTM2Njc5YWIyZmFiYTNmOGZhMjIxNmJmYjM0ZjNhODMwMGU=',
            customerId: Permitnumber,
            firstName: Companyname,
            lastName: Companyaddress,
            email: email,
            amount: fee,


            onSuccess: function (response) {

                console.log('callback Successful Response', response);
                $.post('@Url.Action("RegisterPay", "Trainer")', {

                    data: response, Companyname: Companyname, Companyaddress: Companyaddress, CentreName: CentreName, CenterAddress: CenterAddress, Permitnumber: Permitnumber, Licenseexpdate: Licenseexpdate, PhoneNumber: PhoneNumber, State: State, City: City, email: email, Password: Password, ConfirmPassword: ConfirmPassword, fee: fee, otp: otp
                },
                    function () {                }).done(function (returndata) {
                    if (returndata.isSuccess) {
                        window.location = returndata.redirectUrl;
                    };
                });
            },
            onError: function (response) {
                console.log('callback Error Response', response);
            },
            onClose: function (response) {
                console.log("closed");
              
            }
        });

        paymentEngine.showPaymentWidget();

    }



</script>