@model List<Training>
@{
    ViewData["Title"] = "Training Accounts";
    Layout = "_LayoutAdminDashboard";
}

@inject UserManager<TraineeApplicationUser> userManager;


<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />
<!-- Page Container START -->
<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            @{

                var user = await userManager.GetUserAsync(User);
                var module = ViewBag.modulecosts as List<Modules>;





            }
            <div class="page-title">
                <h4>Cost Account of Trainings</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Trainee ID
                                            </th>
                                            <th>
                                                Training Name
                                            </th>
                                            <th>
                                                Training Center ID
                                            </th>
                                            <th>
                                                Certificate ID
                                            </th>
                                            <th>
                                                Date Registered
                                            </th>
                                            <th>
                                                Training Cost
                                            </th>

                                            <th>Other Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model[i].TraineeId
                                                </td>
                                                <td>
                                                    @Model[i].TrainingName
                                                </td>
                                                <th>
                                                    @Model[i].TrainingCentreId
                                                </th>
                                                <th>
                                                    @Model[i].CertificateId
                                                </th>
                                                <td>
                                                    @Model[i].DateCreated
                                                </td>
                                                <td>

                                                    @module[i].Cost

                                                </td>

                                                <td>
                                                    @{
                                                        var t = Model[i].TraineeId;

                                                        <a asp-action="DetailsTrainees" asp-route-id="@Model[i].TraineeId">Details</a>
                                                    }
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                                <p><h4>Total Payment Made by All Training Center :</h4> <h3 style="color:brown"><b> &nbsp;@ViewBag.totalcost</b></h3> </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="main-content">
        <div class="container-fluid">
          
            <div class="page-title">
                <h4>Total Cost Account of Trainings</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        
                                    </thead>
                                    <tbody>
                                        <p><h4>Total Payment Made by All Training Center :</h4 > <h3 style="color:brown"><b> &nbsp;@ViewBag.totalcost</b></h3> </p>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <b class="text-dark">SHE Division, The Department of Petroleum Resources</b>. All rights reserved.</span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>
<script src="~/dist/assets/js/app.min.js"></script>
<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>
