@model List<Certificate>
@{
    ViewData["Title"] = "Certificate";
    Layout = "_LayoutAdminDashboard";
    var owners = ViewBag.Owners as List<TraineeApplicationUser>;
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />
<script>
    function input1f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input1");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input2f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input2");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input3f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input4f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input4");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input5f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input6f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function input7f() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input3");
        filter = input.value.toUpperCase();
        table = document.getElementById("dt-opt");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<style>
    * {
        box-sizing: border-box;
    }

    #input1 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input2 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input3 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input4 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input5 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input6 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #input7 {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #dt-opt {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #dt-opt th, #dt-opt td {
            text-align: left;
            padding: 12px;
        }

        #dt-opt tr {
            border-bottom: 1px solid #ddd;
        }

            #dt-opt tr.header, #dt-opt tr:hover {
                background-color: #f1f1f1;
            }
</style>
<div class="page-container">
    @await Html.PartialAsync("_LayoutHeaderAdmin");

    <div class="main-content">
        <div class="col-md-12">



        </div>

        <div class="container-fluid">

            <div class="page-title">
                <p>


                    <span style="float:right;"><a asp-controller="Administrator"class="btn btn-success" asp-action="ExportCertificates" align="right" title="Export Certificates to Microsoft Excel file"><i> Export  All Certificates via Excel</i></a></span>
                </p>

                <h4>Certificates</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="dt-responsive table-responsive">
                                <table id="dt-opt" class="display">
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Email</th>

                                            <th>Certificate Number</th>
                                            <th>Certificate Status</th>

                                            <th>Date Generated</th>

                                            <th>Training Center Name</th>

                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody style="font-size:small;">
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {

                                            <tr>

                                                <td>

                                                    <div class="mrg-top-15">
                                                        <span class="text-info"><b>@owners[i].FirstName  @owners[i].LastName</b></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mrg-top-15">
                                                        <span class="text-info"><b>@owners[i].Email</b></span>
                                                    </div>
                                                </td>
                                                <td>

                                                    <span class="text-info"><b>@Model[i].CertNumber</b></span>

                                                </td>
                                                <td>
                                                    @if (DateTime.Now >= @Model[i].DateGenerated.AddYears(2))
                                                    {
                                                        <div class="relative mrg-top-15">
                                                            <span class="status danger"> </span>
                                                            <span class="pdd-left-20">Invalid</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="relative mrg-top-15">
                                                            <span class="status online"> </span>
                                                            <span class="pdd-left-20">@Model[i].CertStatus</span>
                                                        </div>
                                                    }
                                                </td>

                                                <td>

                                                    <span>@Model[i].DateGenerated</span>

                                                </td>

                                                <td>

                                                    <b class="text-dark font-size-16">@Model[i].TrainerOrg</b>

                                                </td>
                                                <td>

                                                    <a asp-action="ViewCertificate" asp-route-TrainingId="@Model[i].TrainingId" asp-route-TraineeId="@owners[i].Id" asp-route-TrainingCentreId="@Model[i].Trainer.Id" asp-route-ModuleId="@Model[i].ModuleId" title="View this Certificate">View Certificate</a>

                                                </td>
                                            </tr>

                                        }

                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th>
                                                <input type="text" id="input1" onkeyup="input1f()" placeholder="Search " title="Type in a name">
                                            </th>
                                            <th>
                                                <input type="text" id="input2" onkeyup="input2f()" placeholder="Search " title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input3" onkeyup="input3f()" placeholder="Search" title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input4" onkeyup="input4f()" placeholder="Search" title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input5" onkeyup="input5f()" placeholder="Search " title="Type in a name">

                                            </th>
                                            <th>
                                                <input type="text" id="input6" onkeyup="input6f()" placeholder="Search " title="Type in a name">

                                            </th>


                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>
