@model MISTDO.Web.Models.TraineeApplicationUser

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdminDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->
@inject UserManager<TraineeApplicationUser> usermanager;
@inject UserManager<ApplicationUser> userManager;
<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderAdmin");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <a asp-action="AllRegisteredTrainees" class="btn btn-success">Back</a>
                <h4>Trainee Details</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.ImageUpload != null)
                            {
                                <div class="widget-profile-1 card">
                                    <div class="profile border bottom">
                                        <img class="mrg-top-30" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ImageUpload))" alt="Take a new Passport" height="150" width="180">
                                        <p>
                                            <h4 class="mrg-top-20 no-mrg-btm text-semibold"> @Html.DisplayFor(model => model.FirstName) </h4>
                                        </p>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="widget-profile-1 card">
                                    <div class="profile border bottom">
                                        <img class="mrg-top-30" src="~/templates/avatar.png" alt="Take a new Passport" height="150" width="180">
                                        <p>
                                            <h4 class="mrg-top-20 no-mrg-btm text-semibold"> <a>Upload your Picture and Update your Profile  </a> </h4>
                                        </p>
                                    </div>

                                </div>
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-heading border bottom">
                                    <h4 class="card-title">General Info</h4>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Trainee ID</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="status online mrg-top-10"></span>
                                            <p class="mrg-top-10"> @Html.DisplayFor(model => model.UID)</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>First Name</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="status online mrg-top-10"></span>
                                            <p class="mrg-top-10"> @Html.DisplayFor(model => model.FirstName)</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>@Html.DisplayNameFor(model => model.Email)</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="status online mrg-top-10"></span>
                                            <p class="mrg-top-10">@Html.DisplayFor(model => model.Email)</p>
                                        </div>
                                    </div>


                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b> Phone Number</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="status online mrg-top-10"></span>
                                            <p class="mrg-top-10">@Html.DisplayFor(model => model.PhoneNumber)</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Company Name</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10">
                                                <span class="status online mrg-top-10"></span>
                                                <span class="mrg-left-10">@Html.DisplayFor(model => model.CompanyName)</span>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Company Address</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10">
                                                <span class="status online mrg-top-10"></span>
                                                <span class="mrg-left-10">@Html.DisplayFor(model => model.CompanyAddress)</span>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>User Address</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mrg-top-10">
                                                <span class="status online mrg-top-10"></span>
                                                <span class="mrg-left-10">@Html.DisplayFor(model => model.UserAddress)</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="page-title">
                <h4>Registered Trainings</h4>
                @*<p>
                        <a asp-action="CreateTraining">Create New</a>
                    </p>*@
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">

                            @{
                                var user = await userManager.GetUserAsync(User);

                                var Mode = ViewBag.trainings as List<MISTDO.Web.Models.Training>;

                                var trainee = await usermanager.GetUserAsync(User);


                            }
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Module Name
                                            </th>
                                            <th>
                                                Module ID
                                            </th>

                                            <th>
                                                Trainee ID
                                            </th>

                                            <th>
                                                Start Date
                                            </th>
                                            <th>
                                                End Date
                                            </th>
                                            <th>Other Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Mode)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(Item => item.TrainingName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModuleId)
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.PaymentRefId)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TrainingCentreId)
                                                    </td>*@
                                                @{
                                                    string badt = item.TraineeId;
                                                }
                                                <th>
                                                    @Html.DisplayFor(model => model.UID)
                                                </th>
                                                @*<th>
                                                        @Html.DisplayFor(model => item.CertificateId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => item.CertGenDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayFor(model => item.DateCreated)
                                                    </th>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TrainingStartDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TrainingEndDate)
                                                </td>
                                                <td>

                                                    <a asp-action="DetailsModule" asp-route-id="@item.Id" class="btn btn-success">Details</a>

                                                </td>
                                            </tr>


                                        }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>
