@model MISTDO.Web.Models.ApplicationUser
@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutAdminDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderAdmin");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <p>
                    <a asp-action="AllTrainingCenter" asp-route-id="@Model.Id" class="btn btn-success">Back</a>
                </p>
                <h4>Account Setting</h4>

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-heading border bottom">
                                    <div>  <h4 class="card-title">Training Providers Information</h4></div>
                                    @*<div align="right"> <a asp-action="EditProfile" class="btn btn-success">Edit Your Profile</a></div>*@

                                </div>
                                <div class="col-md-push-10">


                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Trainng Provider's ID</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.UID)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Company Name</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.CompanyName)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>@Html.DisplayNameFor(model => model.Email)</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="status online mrg-top-10"></span>
                                                <p class="mrg-top-10">@Html.DisplayFor(model => model.Email)</p>
                                            </div>
                                        </div>


                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b> Phone Number</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="status online mrg-top-10"></span>
                                                <p class="mrg-top-10">@Html.DisplayFor(model => model.PhoneNumber)</p>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Company Address</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.CompanyAddress)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Permit Number</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.PermitNumber)</span>
                                                </p>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>Center Name</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.CentreName)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>@Html.DisplayNameFor(model => model.State)</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.State)</span>
                                                </p>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="mrg-top-10 text-dark"> <b>@Html.DisplayNameFor(model => model.City)</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status online mrg-top-10"></span>
                                                    <span class="mrg-left-10">@Html.DisplayFor(model => model.City)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-3">
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mrg-top-10">
                                                    <span class="status  mrg-top-10"></span>
                                                    <span class="mrg-left-10">
                                                        <a asp-controller="Administrator" asp-action="Activate" asp-route-id="@Model.Id" title="Activate Training Center" class="btn btn-success">ACTIVATE</a>
                                                    </span>
                                                    <span class="mrg-left-10">
                                                        <a asp-controller="Administrator" asp-action="DeActivate" title="De-Activate Training Center" asp-route-id="@Model.Id" class="btn btn-success">DE-ACTIVATE</a>
                                                    </span>
                                                    <span class="status  mrg-top-10"></span>
                                                </p>
                                            </div>
                                        </div>





                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Wrapper END -->
        <!-- Footer START -->
        @await Html.PartialAsync("_Footer")
        <!-- Footer END -->
        <!-- Page Container END -->
    </div>
    <script src="~/dist/assets/js/vendor.js"></script>

    <script src="~/dist/assets/js/app.min.js"></script>

    <!-- page plugins js -->
    <script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

    <!-- page js -->
    <script src="~/dist/assets/js/table/data-table.js"></script>



