
@{
    ViewData["Title"] = "View Certificate";
    Layout = "_LayoutAdminDashboard";
}
@inject UserManager<TraineeApplicationUser> userManager;
@{
    var training = ViewBag.Training as Training;
    var trainee = ViewBag.Trainee as TraineeApplicationUser;
    var centre = ViewBag.Centre as ApplicationUser;
    var module = ViewBag.Module as Modules;
    var user = await userManager.GetUserAsync(User);
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
    td img {
        display: block;
    }
</style>
<div class="page-container">
    <!-- Header START -->
    <div class="header navbar">
        <div class="header-container">
            <ul class="nav-left">
                <li>
                    <a class="side-nav-toggle" href="javascript:void(0);">
                        <i class="ti-view-grid"></i>
                    </a>
                </li>
                <li class="search-box">
                    <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                        <i class="search-icon ti-search pdd-right-10"></i>
                        <i class="search-icon-close ti-close pdd-right-10"></i>
                    </a>
                </li>
                <li class="search-input">
                    <input class="form-control" type="text" placeholder="Search...">
                    <div class="advanced-search">
                        <div class="search-wrapper">
                            <div class="pdd-vertical-10">
                                <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                    <i class="ti-user pdd-right-5"></i>
                                    <span>People</span>
                                </span>
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/avatars/thumb-1.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Jordan Hurst</span>
                                                <span class="sub-title">
                                                    <i class="ti-location-pin"></i>
                                                    <span>44 Shirley Ave. West Chicago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/avatars/thumb-5.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Jennifer Watkins</span>
                                                <span class="sub-title">
                                                    <i class="ti-location-pin"></i>
                                                    <span>514 S. Magnolia St. Orlando</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/avatars/thumb-4.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Michael Birch</span>
                                                <span class="sub-title">
                                                    <i class="ti-location-pin"></i>
                                                    <span>70 Bowman St. South Windsor</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mrg-horizon-20 border top"></div>
                            <div class="pdd-vertical-10">
                                <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                    <i class="ti-rss pdd-right-5"></i>
                                    <span>Post</span>
                                </span>
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/img-1.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Artoo expresses his relief</span>
                                                <span class="sub-title">
                                                    <span>Oh, thank goodness we're coming out...</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/img-2.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Ready for some power?</span>
                                                <span class="sub-title">
                                                    <span>Lord Vader. You may take Caption So...</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-footer">
                            <span>You are Searching for '<b class="text-dark"><span class="serach-text-bind"></span></b>'</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="user-profile dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        @*<div class="user-info">
                                @if (user.ImageUpload != null)
                                {

                                    <span class="name pdd-right-5">
                                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(user.ImageUpload))" alt="Take a new Passport" height="25" width="25">
                                    </span>

                                }
                                else
                                {

                                    <img class="mrg-top-30" src="~/templates/avatar.png" alt="Take a new Passport" height="150" width="180">

                                    <h4 class="mrg-top-20 no-mrg-btm text-semibold"> <a asp-action="EditProfile">Upload your Picture and Update your Profile  </a> </h4>

                                }
                                <span class="name pdd-right-5"> <label> @user.FirstName</label> &nbsp; @user.LastName </span>
                                <i class="ti-angle-down font-size-10"></i>
                            </div>*@
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            <a asp-controller="Trainees" asp-action="Profile">
                                <i class="ti-user pdd-right-10"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Trainees" asp-action="Notification">
                                <i class="ti-email pdd-right-10"></i>
                                <span>Inbox</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a asp-controller="Trainees" asp-action="Logout">
                                <i class="ti-power-off pdd-right-10"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
    <!-- Header END -->
    <!-- theme configurator START -->
    <div class="theme-configurator">
        <div class="configurator-wrapper">
            <div class="config-header">
                <h4 class="config-title">Config Panel</h4>
                <button class="config-close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="config-body">
                <div class="mrg-btm-30">
                    <p class="lead font-weight-normal">Header Color</p>
                    <div class="theme-colors header-default">
                        <input type="radio" id="header-default" name="theme">
                        <label for="header-default"></label>
                    </div>
                    <div class="theme-colors header-primary">
                        <input type="radio" class="primary" id="header-primary" name="theme">
                        <label for="header-primary"></label>
                    </div>
                    <div class="theme-colors header-info">
                        <input type="radio" id="header-info" name="theme">
                        <label for="header-info"></label>
                    </div>
                    <div class="theme-colors header-success">
                        <input type="radio" id="header-success" name="theme">
                        <label for="header-success"></label>
                    </div>
                    <div class="theme-colors header-danger">
                        <input type="radio" id="header-danger" name="theme">
                        <label for="header-danger"></label>
                    </div>
                    <div class="theme-colors header-dark">
                        <input type="radio" id="header-dark" name="theme">
                        <label for="header-dark"></label>
                    </div>
                </div>
                <div class="mrg-btm-30">
                    <p class="lead font-weight-normal">Sidebar Color</p>
                    <div class="theme-colors sidenav-default">
                        <input type="radio" id="sidenav-default" name="sidenav">
                        <label for="sidenav-default"></label>
                    </div>
                    <div class="theme-colors side-nav-dark">
                        <input type="radio" id="side-nav-dark" name="sidenav">
                        <label for="side-nav-dark"></label>
                    </div>
                </div>
                <div class="mrg-btm-30">
                    <p class="lead font-weight-normal no-mrg-btm">RTL</p>
                    <div class="toggle-checkbox checkbox-inline toggle-sm mrg-top-10">
                        <input type="checkbox" name="rtl-toogle" id="rtl-toogle">
                        <label for="rtl-toogle"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>
        #over img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 10%;
        }
    </style>
    <!-- Content Wrapper START -->


    <div class="main-content">
        <div class="container-fluid">
            <div class="container">
                <div class="card">
                    <div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
                        <ul class="list-unstyle list-inline text-left">
                            <li class="list-inline-item">

                                <a class="btn text-gray text-hover display-block padding-10 no-mrg-btm" asp-action="AllCertificate">

                                    <i class="ti-back-left"></i>
                                    <b>Back</b>
                                </a>
                            </li>
                        </ul>



                        <ul class="list-unstyle list-inline text-right">
                            <li class="list-inline-item">
                                <a href="#" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
                                    <i class="ti-printer text-info pdd-right-5"></i>
                                    <b>Print</b>
                                </a>
                            </li>
                            <li class="list-inline-item">

                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table border="0" cellpadding="0" cellspacing="0" width="787">
                                    <!-- fwtable fwsrc="Untitled" fwbase="cards.gif" fwstyle="Dreamweaver" fwdocid = "1361147694" fwnested="0" -->
                                    <tr>
                                        <td><img src="~/images/card/images/spacer.gif" width="11" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="24" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="100" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="9" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="22" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="65" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="15" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="159" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="189" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="54" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="31" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="84" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="4" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="17" height="1" border="0" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
                                    </tr>

                                    <tr>
                                        <td colspan="17"><img name="idcards_r1_c1" src="~/images/card/images/idcards_r1_c1.gif" width="787" height="44" border="0" id="idcards_r1_c1" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="44" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="13"><img name="idcards_r2_c1" src="~/images/card/images/idcards_r2_c1.gif" width="651" height="36" border="0" id="idcards_r2_c1" alt="" /></td>
                                        @*<td rowspan="2" colspan="2"><img name="idcards_r2_c14" src="~/images/card/images/idcards_r2_c14.gif" width="115" height="72" border="0" id="idcards_r2_c14" alt="" /></td>*@
                                        @if (centre.ImageUpload != null)
                                        {

                                            <td rowspan="2" colspan="2"><img name="cards_r3_c4" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(centre.ImageUpload))" width="115" height="72" border="0" id="cards_r3_c4" alt="" /></td>

                                        }
                                        else
                                        {
                                            <td rowspan="2" colspan="2"><img name="cards_r3_c4" src="~/templates/avatar.png" width="197" height="183" border="0" id="cards_r3_c4" alt="" /></td>


                                        }
                                        <td rowspan="7" colspan="2"><img name="idcards_r2_c16" src="~/images/card/images/idcards_r2_c16.gif" width="21" height="279" border="0" id="idcards_r2_c16" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="36" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="5" colspan="4"><img name="idcards_r3_c1" src="~/images/card/images/idcards_r3_c1.gif" width="37" height="232" border="0" id="idcards_r3_c1" alt="" /></td>
                                        @*<td rowspan="4" colspan="5"><img name="idcards_r3_c5" src="~/images/card/images/idcards_r3_c5.gif" width="197" height="183" border="0" id="idcards_r3_c5" alt="" /></td>*@
                                        @if (trainee.ImageUpload != null)
                                        {

                                            <td rowspan="4" colspan="5"><img name="cards_r3_c4" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(trainee.ImageUpload))" width="197" height="183" border="0" id="cards_r3_c4" alt="" /></td>

                                        }
                                        else
                                        {
                                            <td rowspan="4" colspan="5"><img name="cards_r3_c4" src="~/templates/avatar.png" width="197" height="183" border="0" id="cards_r3_c4" alt="" /></td>


                                        }
                                        <td rowspan="2" colspan="4"><img name="idcards_r3_c10" src="~/images/card/images/idcards_r3_c10.gif" width="417" height="80" border="0" id="idcards_r3_c10" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="36" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><img name="idcards_r4_c14" src="~/images/card/images/idcards_r4_c14.gif" width="115" height="44" border="0" id="idcards_r4_c14" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="44" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3"><img name="idcards_r5_c10" src="~/images/card/images/idcards_r5_c10.gif" width="15" height="152" border="0" id="idcards_r5_c10" alt="" /></td>
                                        <td colspan="4" style="font-size:large;"><b>@trainee.FirstName</b> &ensp;<b>@trainee.LastName</b></td>
                                        <td rowspan="4"><img name="idcards_r5_c15" src="~/images/card/images/idcards_r5_c15.gif" width="84" height="163" border="0" id="idcards_r5_c15" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="43" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="4"><img name="idcards_r6_c11" src="~/images/card/images/idcards_r6_c11.gif" width="433" height="109" border="0" id="idcards_r6_c11" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="60" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><img name="idcards_r7_c5" src="~/images/card/images/idcards_r7_c5.gif" width="197" height="49" border="0" id="idcards_r7_c5" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="49" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="12"><img name="idcards_r8_c1" src="~/images/card/images/idcards_r8_c1.gif" width="11" height="185" border="0" id="idcards_r8_c1" alt="" /></td>
                                        <td rowspan="2" colspan="5"><img name="idcards_r8_c2" src="~/images/card/images/idcards_r8_c2.gif" width="135" height="26" border="0" id="idcards_r8_c2" alt="" /></td>
                                        <td rowspan="12"><img name="idcards_r8_c7" src="~/images/card/images/idcards_r8_c7.gif" width="22" height="185" border="0" id="idcards_r8_c7" alt="" /></td>
                                        <td rowspan="2" colspan="4"><b> @training.CertificateId</b></td>
                                        <td colspan="3"><img name="idcards_r8_c12" src="~/images/card/images/idcards_r8_c12.gif" width="274" height="11" border="0" id="idcards_r8_c12" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="11" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="11"><img name="idcards_r9_c12" src="~/images/card/images/idcards_r9_c12.gif" width="189" height="174" border="0" id="idcards_r9_c12" alt="" /></td>
                                        @if (ViewBag.QR != null)
                                        {


                                            <td rowspan="10" colspan="4"><img name="idcards_r9_c13" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.QR))" width="173" height="153" border="0" id="cards_r8_c20" alt="" /></td>



                                        }
                                        else
                                        {



                                        }
                                        @*<td rowspan="10" colspan="4"><img name="idcards_r9_c13" src="~/images/card/images/idcards_r9_c13.gif" width="173" height="153" border="0" id="idcards_r9_c13" alt="" /></td>*@
                                        <td rowspan="11"><img name="idcards_r9_c17" src="~/images/card/images/idcards_r9_c17.gif" width="17" height="174" border="0" id="idcards_r9_c17" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="15" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><img name="idcards_r10_c2" src="~/images/card/images/idcards_r10_c2.gif" width="135" height="16" border="0" id="idcards_r10_c2" alt="" /></td>
                                        <td colspan="4"><img name="idcards_r10_c8" src="~/images/card/images/idcards_r10_c8.gif" width="240" height="16" border="0" id="idcards_r10_c8" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="16" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><img name="idcards_r11_c2" src="~/images/card/images/idcards_r11_c2.gif" width="126" height="22" border="0" id="idcards_r11_c2" alt="" /></td>
                                        <td rowspan="9"><img name="idcards_r11_c6" src="~/images/card/images/idcards_r11_c6.gif" width="9" height="143" border="0" id="idcards_r11_c6" alt="" /></td>
                                        <td colspan="4">@training.CertGenDate</td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="22" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><img name="idcards_r12_c2" src="~/images/card/images/idcards_r12_c2.gif" width="126" height="7" border="0" id="idcards_r12_c2" alt="" /></td>
                                        <td rowspan="2" colspan="4"><img name="idcards_r12_c8" src="~/images/card/images/idcards_r12_c8.gif" width="240" height="12" border="0" id="idcards_r12_c8" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="7"><img name="idcards_r13_c2" src="~/images/card/images/idcards_r13_c2.gif" width="1" height="114" border="0" id="idcards_r13_c2" alt="" /></td>
                                        <td rowspan="2" colspan="3"><img name="idcards_r13_c3" src="~/images/card/images/idcards_r13_c3.gif" width="125" height="22" border="0" id="idcards_r13_c3" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="5" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="4">@training.CertGenDate.AddYears(2)</td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="17" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="3"><img name="idcards_r15_c3" src="~/images/card/images/idcards_r15_c3.gif" width="125" height="11" border="0" id="idcards_r15_c3" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><img name="idcards_r16_c8" src="~/images/card/images/idcards_r16_c8.gif" width="240" height="10" border="0" id="idcards_r16_c8" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="10" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3"><img name="idcards_r17_c3" src="~/images/card/images/idcards_r17_c3.gif" width="1" height="81" border="0" id="idcards_r17_c3" alt="" /></td>
                                        <td colspan="2"><img name="idcards_r17_c4" src="~/images/card/images/idcards_r17_c4.gif" width="124" height="19" border="0" id="idcards_r17_c4" alt="" /></td>
                                        <td rowspan="3"><img name="idcards_r17_c8" src="~/images/card/images/idcards_r17_c8.gif" width="1" height="81" border="0" id="idcards_r17_c8" alt="" /></td>
                                        <td colspan="3">@centre.CentreName</td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="19" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="2"><img name="idcards_r18_c4" src="~/images/card/images/idcards_r18_c4.gif" width="124" height="62" border="0" id="idcards_r18_c4" alt="" /></td>
                                        <td rowspan="2" colspan="3"><img name="idcards_r18_c9" src="~/images/card/images/idcards_r18_c9.gif" width="239" height="62" border="0" id="idcards_r18_c9" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="41" border="0" alt="" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><img name="idcards_r19_c13" src="~/images/card/images/idcards_r19_c13.gif" width="173" height="21" border="0" id="idcards_r19_c13" alt="" /></td>
                                        <td><img src="~/images/card/images/spacer.gif" width="1" height="21" border="0" alt="" /></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
</div>










