
@{
    ViewData["Title"] = "View Certificate";
    Layout = "_LayoutAdminDashboard";
}
@inject UserManager<TraineeApplicationUser> userManager;
@{
    var training = ViewBag.Training as Training;
    var trainee = ViewBag.Trainee as TraineeApplicationUser;
    var centre = ViewBag.Centre as ApplicationUser;
    var module = ViewBag.Module as Modules;
    var user = await userManager.GetUserAsync(User);
}
<link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
    td img {
        display: block;
    }
    span {
        
    }
  
    input {
      
    }
    .name {
        font-family: Calibri;
        border: hidden;
        font: 35pt caption;
        font-weight: bolder;
        color: #666666;
    }
    .centreid {
        font-family: Calibri;
        border: hidden;
        font: 15pt caption;
        font-weight: bold;
        color: #666666;
    }
    .textcontent {
        font-family: Calibri;
        border: hidden;
        font: 12pt caption;
        font-weight: bold;
        color: #666666;
    }
    .dynamics {
      
        font: 11pt caption;
      
        color: #666666;
    }
</style>
<div class="page-container">
    <!-- Header START -->
    <div class="header navbar">
        <div class="header-container">
            <ul class="nav-left">
                <li>
                    <a class="side-nav-toggle" href="javascript:void(0);">
                        <i class="ti-view-grid"></i>
                    </a>
                </li>
                <li class="search-box">
                    <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                        <i class="search-icon ti-search pdd-right-10"></i>
                        <i class="search-icon-close ti-close pdd-right-10"></i>
                    </a>
                </li>
                <li class="search-input">
                    <input class="form-control" type="text" placeholder="Search...">
                    <div class="advanced-search">
                        <div class="search-wrapper">
                            <div class="pdd-vertical-10">
                                <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                    <i class="ti-user pdd-right-5"></i>
                                    <span>People</span>
                                </span>
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/avatars/thumb-1.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Jordan Hurst</span>
                                                <span class="sub-title">
                                                    <i class="ti-location-pin"></i>
                                                    <span>44 Shirley Ave. West Chicago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/avatars/thumb-5.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Jennifer Watkins</span>
                                                <span class="sub-title">
                                                    <i class="ti-location-pin"></i>
                                                    <span>514 S. Magnolia St. Orlando</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/avatars/thumb-4.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Michael Birch</span>
                                                <span class="sub-title">
                                                    <i class="ti-location-pin"></i>
                                                    <span>70 Bowman St. South Windsor</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mrg-horizon-20 border top"></div>
                            <div class="pdd-vertical-10">
                                <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                    <i class="ti-rss pdd-right-5"></i>
                                    <span>Post</span>
                                </span>
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/img-1.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Artoo expresses his relief</span>
                                                <span class="sub-title">
                                                    <span>Oh, thank goodness we're coming out...</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="thumb-img" src="assets/images/img-2.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Ready for some power?</span>
                                                <span class="sub-title">
                                                    <span>Lord Vader. You may take Caption So...</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-footer">
                            <span>You are Searching for '<b class="text-dark"><span class="serach-text-bind"></span></b>'</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="user-profile dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        @*<div class="user-info">
                                @if (user.ImageUpload != null)
                                {

                                    <span class="name pdd-right-5">
                                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(user.ImageUpload))" alt="Take a new Passport" height="25" width="25">
                                    </span>

                                }
                                else
                                {

                                    <img class="mrg-top-30" src="~/templates/avatar.png" alt="Take a new Passport" height="150" width="180">

                                    <h4 class="mrg-top-20 no-mrg-btm text-semibold"> <a asp-action="EditProfile">Upload your Picture and Update your Profile  </a> </h4>

                                }
                                <span class="name pdd-right-5"> <label> @user.FirstName</label> &nbsp; @user.LastName </span>
                                <i class="ti-angle-down font-size-10"></i>
                            </div>*@
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            <a asp-controller="Trainees" asp-action="Profile">
                                <i class="ti-user pdd-right-10"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Trainees" asp-action="Notification">
                                <i class="ti-email pdd-right-10"></i>
                                <span>Inbox</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a asp-controller="Trainees" asp-action="Logout">
                                <i class="ti-power-off pdd-right-10"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
    <!-- Header END -->
    <!-- theme configurator START -->
    <div class="theme-configurator">
        <div class="configurator-wrapper">
            <div class="config-header">
                <h4 class="config-title">Config Panel</h4>
                <button class="config-close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="config-body">
                <div class="mrg-btm-30">
                    <p class="lead font-weight-normal">Header Color</p>
                    <div class="theme-colors header-default">
                        <input type="radio" id="header-default" name="theme">
                        <label for="header-default"></label>
                    </div>
                    <div class="theme-colors header-primary">
                        <input type="radio" class="primary" id="header-primary" name="theme">
                        <label for="header-primary"></label>
                    </div>
                    <div class="theme-colors header-info">
                        <input type="radio" id="header-info" name="theme">
                        <label for="header-info"></label>
                    </div>
                    <div class="theme-colors header-success">
                        <input type="radio" id="header-success" name="theme">
                        <label for="header-success"></label>
                    </div>
                    <div class="theme-colors header-danger">
                        <input type="radio" id="header-danger" name="theme">
                        <label for="header-danger"></label>
                    </div>
                    <div class="theme-colors header-dark">
                        <input type="radio" id="header-dark" name="theme">
                        <label for="header-dark"></label>
                    </div>
                </div>
                <div class="mrg-btm-30">
                    <p class="lead font-weight-normal">Sidebar Color</p>
                    <div class="theme-colors sidenav-default">
                        <input type="radio" id="sidenav-default" name="sidenav">
                        <label for="sidenav-default"></label>
                    </div>
                    <div class="theme-colors side-nav-dark">
                        <input type="radio" id="side-nav-dark" name="sidenav">
                        <label for="side-nav-dark"></label>
                    </div>
                </div>
                <div class="mrg-btm-30">
                    <p class="lead font-weight-normal no-mrg-btm">RTL</p>
                    <div class="toggle-checkbox checkbox-inline toggle-sm mrg-top-10">
                        <input type="checkbox" name="rtl-toogle" id="rtl-toogle">
                        <label for="rtl-toogle"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>
        #over img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 10%;
        }
    </style>
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="col-6">
                <div class="card">
                    <div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
                        <ul class="list-unstyle list-inline text-left">
                            <li class="list-inline-item">

                                <a class="btn text-gray text-hover display-block padding-10 no-mrg-btm" asp-action="AllCertificate">

                                    <i class="ti-back-left"></i>
                                    <b>Back</b>
                                </a>
                            </li>
                        </ul>



                        <ul class="list-unstyle list-inline text-right">
                            <li class="list-inline-item">
                                <a href="#" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
                                    <i class="ti-printer text-info pdd-right-5"></i>
                                    <b>Print</b>
                                </a>
                            </li>
                            <li class="list-inline-item">

                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <table border="0" cellpadding="0" cellspacing="0" width="1200">
                            <!-- fwtable fwsrc="Untitled" fwbase="certificate.gif" fwstyle="Dreamweaver" fwdocid = "1463634176" fwnested="0" -->
                            <tr>
                                <td><img src="~/images/cert/images/spacer.gif" width="58" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="87" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="256" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="107" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="75" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="16" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="134" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="126" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="50" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="114" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="7" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="116" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="13" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="14" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="27" height="1" border="0" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
                            </tr>

                            <tr>
                                <td colspan="15"><img name="certificate_r1_c1" src="~/images/cert/images/certificate_r1_c1.gif" width="1200" height="129" border="0" id="certificate_r1_c1" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="129" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="10"><img name="certificate_r2_c1" src="~/images/cert/images/certificate_r2_c1.gif" width="1023" height="129" border="0" id="certificate_r2_c1" alt="" /></td>
                                @if (trainee.ImageUpload != null)
                                {

                                    <td colspan="3"><img name="certificate_r2_c11" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(trainee.ImageUpload))" width="136" height="122" border="0" id="certificate_r2_c11" alt="" /></td>


                                }
                                else
                                {


                                }
                                <td rowspan="10" colspan="2"><img name="certificate_r2_c14" src="~/images/cert/images/certificate_r2_c14.gif" width="41" height="421" border="0" id="certificate_r2_c14" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="122" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="6" colspan="3"><img name="certificate_r3_c11" src="~/images/cert/images/certificate_r3_c11.gif" width="136" height="147" border="0" id="certificate_r3_c11" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="11"><img name="certificate_r4_c1" src="~/images/cert/images/certificate_r4_c1.gif" width="58" height="342" border="0" id="certificate_r4_c1" alt="" /></td>
                                <td colspan="4" style="font-family:Calibri;" class="name">@trainee.FirstName.ToUpper() &ensp; @trainee.LastName.ToUpper()</td>
                                <td rowspan="2" colspan="5"><img name="certificate_r4_c6" src="~/images/cert/images/certificate_r4_c6.gif" width="440" height="104" border="0" id="certificate_r4_c6" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="64" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td colspan="4"><img name="certificate_r5_c2" src="~/images/cert/images/certificate_r5_c2.gif" width="525" height="40" border="0" id="certificate_r5_c2" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="40" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td colspan="7" class="textcontent"><label style="font-family:Calibri">Has been awarded certificate for successfully completing  the course</label></td>
                                <td rowspan="6" colspan="2"><img name="certificate_r6_c9" src="~/images/cert/images/certificate_r6_c9.gif" width="164" height="188" border="0" id="certificate_r6_c9" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="21" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td colspan="7"><img name="certificate_r7_c2" src="~/images/cert/images/certificate_r7_c2.gif" width="801" height="5" border="0" id="certificate_r7_c2" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="5" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="5" style="font-family:Calibri;" class="centreid">@module.Name.ToUpper()</td>
                                <td rowspan="4" colspan="2"><img name="certificate_r8_c7" src="~/images/cert/images/certificate_r8_c7.gif" width="260" height="162" border="0" id="certificate_r8_c7" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="10" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="3"><img name="certificate_r9_c11" src="~/images/cert/images/certificate_r9_c11.gif" width="7" height="152" border="0" id="certificate_r9_c11" alt="" /></td>
                                @if (ViewBag.QR != null)
                                {


                                    <td rowspan="2"><img name="certificate_r9_c12" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.QR))" height="105" border="0" id="certificate_r9_c12" alt="" /></td>



                                }
                                else
                                {



                                }
                                <td rowspan="3"><img name="certificate_r9_c13" src="~/images/cert/images/certificate_r9_c13.gif" width="13" height="152" border="0" id="certificate_r9_c13" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="24" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="5"><img name="certificate_r10_c2" src="~/images/cert/images/certificate_r10_c2.gif" width="541" height="128" border="0" id="certificate_r10_c2" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="81" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td><img name="certificate_r11_c12" src="~/images/cert/images/certificate_r11_c12.gif" width="116" height="47" border="0" id="certificate_r11_c12" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="47" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="3"><img name="certificate_r12_c2" src="~/images/cert/images/certificate_r12_c2.gif" width="87" height="50" border="0" id="certificate_r12_c2" alt="" /></td>
                                <td rowspan="2" class="dynamics" align="center">@centre.UID.ToUpper()</td>
                                <td rowspan="3"><img name="certificate_r12_c4" src="~/images/cert/images/certificate_r12_c4.gif" width="107" height="50" border="0" id="certificate_r12_c4" alt="" /></td>
                                <td rowspan="2" colspan="3" class="dynamics" align="center">@training.CertGenDate.AddYears(2).ToString("MM/dd/yyyy")</td>
                                <td rowspan="3" colspan="2"><img name="certificate_r12_c8" src="~/images/cert/images/certificate_r12_c8.gif" width="176" height="50" border="0" id="certificate_r12_c8" alt="" /></td>
                                <td colspan="5" class="dynamics" align="center">@training.CertificateId.ToUpper()</td>
                                <td rowspan="3"><img name="certificate_r12_c15" src="~/images/cert/images/certificate_r12_c15.gif" width="27" height="50" border="0" id="certificate_r12_c15" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="17" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td rowspan="2" colspan="5"><img name="certificate_r13_c10" src="~/images/cert/images/certificate_r13_c10.gif" width="264" height="33" border="0" id="certificate_r13_c10" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="2" border="0" alt="" /></td>
                            </tr>
                            <tr>
                                <td><img name="certificate_r14_c3" src="~/images/cert/images/certificate_r14_c3.gif" width="256" height="31" border="0" id="certificate_r14_c3" alt="" /></td>
                                <td colspan="3"><img name="certificate_r14_c5" src="~/images/cert/images/certificate_r14_c5.gif" width="225" height="31" border="0" id="certificate_r14_c5" alt="" /></td>
                                <td><img src="~/images/cert/images/spacer.gif" width="1" height="31" border="0" alt="" /></td>
                            </tr>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
 
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
</div>










